@font-face {
  font-family: BigShoulder;
  src: url(../fonts/BigShouldersDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: Lexend Deca;
  src: url(ttps://fonts.google.com/specimen/Lexend+Deca);
}

body {
  background-color: rgb(242, 242, 242);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
p {
  margin: 0;
}